<mat-toolbar>
    <img src="../../../assets/images/paytm_logo.png" height="50px" width="170px">
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <p>dialpad</p>
            <span>Redial</span>
        </button>
        <button mat-menu-item>
            <p>voicemail</p>
            <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
            <p>notifications_off</p>
            <span>Disable alerts</span>
        </button>
    </mat-menu>

</mat-toolbar>